.container {
	width: 100%;
	padding: 1em;
}

.modal-body-old {
  height: 320px;
  overflow: auto
  -webkit-overflow-scrolling: touch !important;  
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}


body.modal-open {
    overflow: auto
}

body.scrollable {
    overflow-y: auto
}

.modal-footer {
	display: flex;
	justify-content: flex-start;
	.btn {
		position: absolute;
		right: 10px;
	}
}

.text-success {
	color: #00c851!important;
}

.text-danger {
    color: #ff3547!important;
}


.tip-button {
  width: 312.5px;
  height: 49px;
  background-size: 100%;
  background-image: url('/5_pay_mm_off.png');
  cursor: pointer;
}
.tip-button:hover {
  background-image: url('/5_pay_mm_over.png');
}
.tip-button:active {
  background-image: url('/5_pay_mm_off.png');
}
